<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/fav.png">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/script.js" defer></script>
    <title>Vacation Dream</title>
</head>
<body>
    <main>
        <div class="header">
            <img src="img/header.jpg" alt="Destination Banner">
            <h1>Book Your Dream Vacation</h1>
        </div>
        <form id="theForm" action="/submit" method="post">
            <fieldset id="main-frame">
                <label for="dest" class="s6">Destination <span class="err" id="dest-error">Please select a destimationr</span> 
                <select name="dest" id="dest">
                    <option value="none">Choose a destination...</option>
                    <option value="paris">Paris, France</option>
                    <option value="frankfut">Frankfut, Germany</option>
                    <option value="warshaw">Warshaw, Poland</option>
                    <option value="london">London, UK</option>
                    <option value="rome">Rome, Italy</option>
                </select> </label>
                <label for="date" class="s3">Departure Date <span class="err" id="date-error">Please select a date</span> 
                    <input type="date" id="date" name="date">
                </label>
                <label for="travlers-number" class="s3">Number of Travlers <span class="err" id="number-error">Invalid Number</span> 
                    <input type="number" name="travlers-number" id="travlers-number">
                </label>
            </fieldset>
            <button type="submit">Submit</button>
        </form>
    </main>
    <footer>
        GitHub Repository: <a href="https://github.com/BROSKIs/Vacation-midterm">https://github.com/BROSKIs/Vacation-midterm</a>
    </footer>
</body>
</html>