*{
    margin: 0;
}
body{
    background-color: blue;
}

main{
    display: block;
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin: 6rem auto;
    border-radius: .5rem;
}
/* HEADER */
.header{
    position: relative;
    display: flex;
    margin: 0;
    min-height: 150px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
}

.header h1{
    position: relative;
    display: flex;
    text-align: center;
}

img {
    position: absolute;
    width: 100%;
    filter: brightness(50%);
    border-radius: .5rem;
}
/* ERROR */
.err{
    color: red;
    display: none;
}

form{
    margin: 0;
    padding: 1rem;
}
fieldset input, select, textarea {
    display: block;
    width: 100%;
    min-height: 20px;
    padding: .2rem;
    box-sizing: border-box;
}
fieldset{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    border: none;
}
fieldset label{
    display: block;
    width: 100%;
    margin: 3px;
}

.s6{
    grid-column: span 6;
}
.s3{
    grid-column: span 3;
}

button{
    display: block;
    width: 50%;
    background-color: #0047e1;
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: .6rem;
    margin: auto;
}

/* FOOTER */
footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(89, 88, 88);
    padding: 2rem;
    height: 50px;

}

@media screen and (max-width: 600px) {
    fieldset {
        display: block;
    }

    main{
        margin: 0;
    }

    .header {
        min-height: 250px;
    }
}